# Ignore virtual environments in all sub-projects
**/.env/
**/venv/
**/env/
**/.venv/
*/.env
**/.venv/
*/__pycache__/
*/.pytest_cache/


# Ignore JetBrains IDE settings for the parent `Projects/` folder
.idea/